@media screen and (max-width: 4000px) {
  body {
    color: white;
    background-color: #000000;
    margin-top: 10px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-right:100px;
    margin-left: 100px;
    align-items: center;
    align-content: center;
    user-select: none;
    font-family: "Titillium Web", "Kdam Thmor Pro";
  }

.box {
  margin-top: 5px;
  margin-bottom: 5px;
  padding-bottom: 5px;
  padding-top: 5px;
   border: 1px solid #fff;
  flex: 1;
}

.navItem {
  display: inline-block;
}

span > img {
  cursor: pointer;
}

#container {
  padding-top: 0px;
  margin-top: 0px;
}

#navLogo {
  max-width: 100px;
  width: 100%;
  height: auto;
}
#navBar1 {
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 0px;
  padding-top: 15px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  height: fit-content;
  width: -moz-fit-content;
  width: 100%;
}
}