#container{
  align-items: center;
  align-content: center;
  text-align: center;
}
#signupLogo {
  padding-top: 50px;
  max-width: 300px;
  width: 100%;
  height: auto;
  cursor: pointer;
}
#signupBox{
  background-color: #1f1c1c;
  width: 40%;
  margin: auto;
  justify-content: center;
}
#logSigText{
  margin-top: 0px ;
}
.box {
  margin-top: 5px;
  margin-bottom: 5px;
  padding-bottom: 5px;
  padding-top: 5px;
  /* border: 1px solid #fff; */
  flex: 1;
}
label {
  font-size: 20px;
  width: 120px;
  display: inline-block;
  padding: 10px;
}
form {
  margin: 20px;
}
form > input {
  padding: 10px;
  width: 50%;
  font-size: 15px;
  background-color: #bbb1b1;
  border-style: none;
}
#submitBtn {
  width: 100px;
  margin: 5px;
  padding: 5px;
  background-color: #ffc31f;
  border-radius: 5px;
  font-family: "Titillium Web", "Kdam Thmor Pro";
  cursor: pointer;
}
#signInLink {
  color: #bbb1b1;
  font-size: 12px;
  cursor: pointer;
}