.box {
  margin: 5px;
  padding: 5px;
  /* border: 1px solid #fff; */
  flex: 1;
}

.inner-col {
  flex: 1;
  flex-direction: row;
  max-width: 100%;
  min-height: 500px;
  display: flex;
  background-color: #ffc31f;
}
.reviewsBox {
  border-bottom: 2px solid #ffc31f;
}
.table {
  flex-direction: row;
  flex: 1;
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid white;
}
#submitBtn {
  max-width: 100px;
  margin: 5px;
  padding: 5px;
  background-color: #ffc31f;
  border-radius: 5px;
  font-family: "Titillium Web", "Kdam Thmor Pro";
  cursor: pointer;
}