#container {
  padding-top: 0px;
  margin-top: 0px;
}
#search {
  height: 50%;
  font-size: 50px;
  margin: 0px;
  padding: 0px;
  width: 60%;
  margin-bottom: -12px;
}
span {
  justify-content: center;
  align-content: center;
}

input {
  padding: 10px;
  width: 45%;
  font-size: 15px;
  background-color: #bbb1b1;
  border-style: none;
}
#submitBtn {
  width: 80px;
  height: auto;
  background-color: #ffc31f;
  border-radius: 5px;
  font-family: "Titillium Web", "Kdam Thmor Pro";
  cursor: pointer;
}
#AdvSrchLink {
  color: #ffc31f;
  font-size: 15px;
  cursor: pointer;
}
#advSrchBtn {
  width: auto;
  height: auto;
  background-color: #bbb1b1;
  border-radius: 5px;
  font-family: "Titillium Web", "Kdam Thmor Pro";
  font-size: 12px;
  cursor: pointer;
}
.searchBox {
  min-width: 98.7%;
  position: absolute;
  top: 35%;
}
.searchBox > #search {
  align-items: flex-start;
}