#container {
  padding-top: 0px;
  margin-top: 0px;
}
#search {
  height: 50%;
  font-size: 50px;
  margin: 0px;
  width: 70%;
  margin-bottom: -12px;
}
input, select, option{
  padding: 10px;
  width: 50%;
  font-size: 15px;
  background-color: #bbb1b1;
  border-style: none;
}
#SimpSrchLink {
  color: #ffc31f;
  font-size: 15px;
  cursor: pointer;
}
input {
  left: 10%;
}
.actorInput {
  margin-left: 5px;
  max-width: 23.5%;
}
#submitBtn {
  width: 80px;
  height: auto;
  background-color: #ffc31f;
  border-radius: 5px;
  font-family: "Titillium Web", "Kdam Thmor Pro";
}
.searchSubtitle {
  color: #ffc31f;
  font-size: 15px;
  width: 55%;
}
#searchBox{
  min-width: 98.5%;
  position: absolute;
  top: 25%;
}
#searchBox{
  align-items: flex-start;
  justify-content: left;
}